.kiri{
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 1;
    overflow: hidden;
    margin-right: 60px;
}

.kanan{
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}

.scrollable-container {
    overflow-x: auto;
  }
  
  .scrollable-content {
    display: flex;
    flex-wrap: nowrap;
  }
  