#register-form {
    display: none;
  }
  
  :target {
    display: block;
  }

  .btn:hover {
    background-color: white;
    color: red;
  }

  
  
  body {
    margin-bottom: 60px; /* Tinggi footer Anda, sesuaikan dengan kebutuhan Anda */
  }
  
  footer {
    position: absolute;
    
    width: 100%; /* Sesuaikan dengan tinggi footer Anda */
  }


  .navbar {
    margin-bottom: 0;
  }
  
  /* Untuk elemen selamat datang */
  .card-header {    
    width: 100%; /* Ubah lebar sesuai kebutuhan */
    background-color: rgba(0, 0, 0, 0.7);
    height: 6cm;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .container-fluid {
    position: relative;
  }
